.containerSearch {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: auto auto 50px auto;
}
.form {
  display: flex;
  gap: 20px;
}
.field {
  display: flex;
  gap: 40px;
}

.button {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table {
  width: 80%;
  margin: auto;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.05);
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.containerData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
